<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Korisnici</title>
<jsp:include page="/navigacija.jsp" />
<script type="text/javascript" src="/PorucivanjeHrane/js/korisnici.js"></script>
</head>
<body>
<%@ page import="porucivanjeHrane.model.Korisnik" %>
 <% Korisnik korisnik = (Korisnik)session.getAttribute("korisnik"); %>
 <% if(korisnik != null){ %>
		<input type="hidden" id="uloga" value="<%=korisnik.getUloga()%>">
<% }%>

<br>
<ul id="korisnici">
</ul>

</body>
</html>